<section class="feature-area ptb--110 bg-theme" id="About">
    <div class="container">
        <div class="section-title">
            <h2>Meet TriLingo</h2>
            <p>A One Stop Solution To Learn Tribal Languages. </p>
        </div>
        <div class="row">
            <div class="feature-content">
                <div class="col-md-4 col-sm-6 col-xs-12 text-right">
                    <div class="feature-list">
                        <div class="feature-item">
                            <div class="icon"><i class="fa fa-file-image-o"></i></div>
                            <h4>Multilingual</h4>
                            <p>Choose from the list a range of Indian Indegenous languages that's your heritage.</p>
                        </div>
                        <div class="feature-item">
                            <div class="icon"><i class="fa fa-cloud"></i></div>
                            <h4>Word Category</h4>
                            <p>Learn words categorally organized into groups for better understanding.</p>
                        </div>
                        <div class="feature-item">
                            <div class="icon"><i class="fa fa-cube"></i></div>
                            <h4>Graphical Illustration</h4>
                            <p>Graphical respsentation makes it's more intresting for everyone to learn.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden-xs hidden-sm">
                    <div class="feature-mscreen">
                        <img src="assets/img/mobile/feature-screen.png" alt="mobile screen">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="feature-list feature-list-right">
                        <div class="feature-item">
                            <div class="icon"><i class="fa fa-android"></i></div>
                            <h4>Save language</h4>
                            <p>Want your language to be added in the platform. Help us document your language. </p>
                        </div>
                        <div class="feature-item">
                            <div class="icon"><i class="fa fa-headphones"></i></div>
                            <h4>Listen & Speak.</h4>
                            <p>Listen to the correct pronouncation and pratice to enhance your learning experience.</p>
                        </div>
                        <div class="feature-item">
                            <div class="icon"><i class="fa fa-desktop"></i></div>
                            <h4>English - Hindi Translation</h4>
                            <p>Graphic when combined with audio, sets your free from reading ablities to learn the language.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>