<!-- preloader area start -->
<div id="preloader">
    <div class="spinner"></div>
</div>
<!-- preloader area end -->
<!-- header area start -->
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="menu-area">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="logo">
                        <a href="index.html"><img src="assets/img/icon/logo.png" alt="Trilingo - Language Learning App "></a>
                    </div>
                </div>
                <div class="col-md-9 hidden-xs hidden-sm">
                    <div class="main-menu">
                        <nav class="nav-menu">
                            <ul>
                                <li class="active"><a routerLink="Home">Home</a></li>
                                <li><a routerLink="Language">Language</a></li>
                                <li><a routerLink="About">About</a></li>
                                <li><a routerLink="Features">Features</a></li>
                                <li><a routerLink="Download">Download</a></li>
                                <li><a routerLink="Team">Team</a></li>
                                <li><a routerLink="Testimonial">Testimonial</a></li>
                                <li><a routerLink="Contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
                    <div class="mobile_menu"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header area end -->
<!-- slider area start -->
<section class="slider-area" id="home">
    <div class="container">
        <div class="slider-content d-flex flex-center">
            <div class="col-md-8 col-sm-9 col-xs-12 d-flex flex-center">
                <div class="slider-nner">
                    <h2>Learn Tribal Languages </h2>
                    <p>The Best Solution To Teach The Young Generation About Tribal Languages.</p>
                    <div class="btn-area">
                        <a href="#">Download Now </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                <div class="slider-m-img">
                    <img src="assets/img/mobile/slider-screen.png" alt="mobile image">
                </div>
            </div>
        </div>
    </div>
</section>